.nice-input {
  display: inline-block;
  vertical-align: top;

  input:not(checked) {
    display: none;
  }

  label {
    display: block;
    width: 41px;
    height: 23px;
    padding: 5px 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    color: #262626;
    background: #fff;
    text-align: center;
    font-size: 12px;
    @include pauza-fot-bold();
    transition: border .3s ease, color .3s ease;
  }

  input:checked + label,
  input + label:hover {
    border-color: #2ad219;
    color: #2ad219;
  }

}
