/* ares-select */

/* ---------------- ares-select ------------------ */
.ares-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
	height: 40px;
	margin-bottom: 7px;
	color: $ares-select-color;
	font-size: 16px;
	cursor: pointer;

	&:before {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		padding: 5px;
		margin-top: 25px;
		opacity: 0;
		visibility: hidden;
		font-size: 12px;
		color: #fff;
		text-align: center;
		background: #000;
		content: attr(data-error);
		transition: all .5s ease;
	}

	&:after {
		position: absolute;
		top: 100%;
		left: 50%;
		width: 0;
		height: 0;
		margin: 21px 0 0 -3px;
		opacity: 0;
		border-style: solid;
		border-width: 0 3px 4px 3px;
		border-color: transparent transparent #000 transparent;
		transition: all .5s ease;
		content: '';
	}

	&.error {

		&:before {
			margin-top: 5px;
			opacity: 1;
			visibility: visible;
			z-index: 2;
		}

		&:after {
			margin: 1px 0 0 -3px;
			opacity: 1;
		}
	}

	&.active .ares-select__item:after {
		transform: rotate(90deg);
	}

	&.ares-select_mobile select {
		position: absolute;
		top: 0;
		left: 1px;
		bottom: -1px;
		width: 100%;
	}

	&.ares-select_custom select {
		position: absolute;
		z-index: -1;
	}

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 12px 12px 6px 17px;
		border: 1px solid $ares-select-border;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		user-select: none;

		&:after {
			position: absolute;
			width: 6px;
			height: 8px;
			top: 50%;
			left: 17px;
			margin-top: -2px;
			background: $ares-select-arrow-back no-repeat center;
			background-size: contain;
			transform: rotate(-90deg) translate(0, -50%);
			transition: transform .2s ease-in-out;
			content: '';
		}

		span {
			text-transform: uppercase;
			font-size: 12px;
			@include pauza-fot-bold();
		}
	}

	&__popup {
		position: absolute;
		z-index: 10;
		top: 39px !important;
		padding: 0;
		font-size: 16px;
		text-align: right;
		border: 1px solid $ares-select-border;
		background: $ares-select-back;
		overflow: hidden;

		ul {
			z-index: 1;

			li {
				height: 39px;
				padding: 0 10px;
				border-top: solid 1px $ares-select-border;
				white-space: nowrap;
				overflow: hidden;
				cursor: pointer;
				line-height: 38px;
				background: transparent;
				transition: color 0.3s ease;

				&:first-child {
					border: none;
					height: 38px;
				}

				&:hover,
				&.active {
					color: $ares-select-active-color;
				}

				&.placeholder {
					display: none;
				}

				span {
					text-transform: uppercase;
					@include pauza-fot-bold();
					font-size: 12px;
				}
			}
		}
	}
}

.ares-select_size-chart {

	.ares-select__popup {
		padding: 0;
		border: none;
		background: none;
		border-top: 1px solid $ares-select-border;
		border-right: 1px solid $ares-select-border;

		ul {

			li {
				width: 25%;
				height: 38px;
				float: right;
				border-top: none;
				border-left: 1px solid $ares-select-border;
				border-bottom: 1px solid $ares-select-border;
				background: $ares-select-back;
				text-align: center;
				font-size: 16px;

				&.active {
					background: $ares-select-size-active-back;
					color: $ares-select-size-active-color;
				}
			}
		}
	}

}

@media (min-width: 992px) {

	.ares-select_size-chart .ares-select__popup {
		left: auto !important;
		right: 0;
	}
	.ares-select_size-chart .ares-select__popup[data-length='2'],
	.ares-select_size-chart .ares-select__popup[data-length='1'] {
		width: 100% !important;
	}
	.ares-select_size-chart .ares-select__popup[data-length='3'] {
		width: 150% !important;
	}
	.ares-select_size-chart .ares-select__popup[data-length='4'] {
		width: 200% !important;
	}

	.ares-select_size-chart .ares-select__popup[data-length='1'] li {
		width: 100%;
	}
	.ares-select_size-chart .ares-select__popup[data-length='2'] li {
		width: 50%;
	}
	.ares-select_size-chart .ares-select__popup[data-length='3'] li {
		width: 33.3332%;
	}
}

/* ---------------- /ares-select ------------------ */
